{% extends 'navbar.html' %}
{% block content %}
        <div class="card m-4 p-4 border-0 mx-auto shadow" style="width: 60rem">
            <div class="card-header fs-4 fw-bold">Blog#1: CSS Master</div>
            <div class="card-body">
                <p class="card-text">Get coaching from the CSS God.</p>
            </div>
            <a class="stretched-link" href="https://joshwcomeau.com"></a>
        </div>
        <div class="card m-4 p-4 border-0 mx-auto shadow" style="width: 60rem">
            <div class="card-header fs-4 fw-bold">Blog#2: Google SRE Books</div>
            <div class="card-body">
                <p class="card-text">Read books on SRE for free here</p>
            </div>
            <a class="stretched-link" href="https://sre.google/books"></a>
        </div>
        <div class="card m-4 p-4 border-0 mx-auto shadow" style="width: 60rem">
            <div class="card-header fs-4 fw-bold">Blog#3: Blogging with Flask</div>
            <div class="card-body">
                <p class="card-text">Learn how to setup blogging with Flask and GitHub pages</p>
            </div>
            <a class="stretched-link" href="https://vkaustubh.github.io/blog/geek/2020-02-23-blogging-with-flask.html"></a>
        </div>
    </a>
    {% endblock %}