<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href={{ url_for('static',
    filename='styles/project.css') }} />
    <title>Projects</title>
  </head>
  <body>
    <div class="container">
      <h1>Projects</h1>
      <div class="cards">
        <div class="card">
          <h2 class="card-title">Project 1</h2>
          <img
            src="https://miro.medium.com/max/6000/1*WNv2vYX_vB2RA_O43Phrmw.gif"
            alt=""
          />
          <p class="card-desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
          </p>
        </div>
        <div class="card">
          <h2 class="card-title">Project 2</h2>
          <img
            src="https://steamusercontent-a.akamaihd.net/ugc/82595628823614964/59CA60267C9EF097829F8B6CFDED0CD489F0ECCE/"
            alt=""
          />
          <p class="card-desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
          </p>
        </div>
        <div class="card">
          <h2 class="card-title">Project 3</h2>
          <img
            src="https://i.pinimg.com/originals/ca/00/60/ca0060f3414e6e20b75983acddafad53.gif"
            alt=""
          />
          <p class="card-desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
          </p>
        </div>
        <div class="card">
          <h2 class="card-title">Project 4</h2>
          <img
            src="https://i.pinimg.com/originals/55/2c/31/552c31eecaed00eaf9f5cfa69ab3b5c0.gif"
            alt=""
          />
          <p class="card-desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
