{% extends 'navbar.html' %} {% block head %} {{ super() }}
<link lang="sass" rel="stylesheet" href="./static/styles/teams.css" />
{% endblock %} {% block content %}
<div class="teamPg">
  <h1 class="teamIntro fire text-center text-white">Team Dragon Den</h1>
  <div class="container">
    <div class="row">
      <p class="text-white text-center teamBio">
        <em> Get to know the people working behind the scenes</em>
      </p>
    </div>
    <div class="row teamProfile">
      <div class="col">
        <div class="card-container">
          <div class="card">
            <figure class="front1"></figure>
            <figure class="back">
              <p class="mt-4">Avi Jain</p>
              <br />
              <p>LinkedIn:</p>
              <br />
              <p>Github:</p>
              <br />
            </figure>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-container">
          <div class="card">
            <figure class="front2"></figure>
            <figure class="back">
              <p class="mt-4">Lois Aleghe</p>
              <br />

              <p>LinkedIn:</p>
              <br />
              <p>Github:</p>
              <br />
            </figure>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-container">
          <div class="card">
            <figure class="front3"></figure>
            <figure class="back">
              <p class="mt-4">David Jiang</p>
              <br />
              <p>LinkedIn:</p>
              <br />
              <p>Github:</p>
              <br />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
